{% if data == '1' %}
    {% for rs_data in res_data%}
    {% if loop.index0 == 0%}
    
    <div class="form-field" id="res{{loop.index0}}">
        <label for="res_text" class="form-label">Responses Text<span></span></label>
        <div class="d-flex">
        <div class="input-group mb-3">
            <input type="text" class="form-control"  placeholder="Enter Response" id="intentresponses_{{loop.index0}}" name="intentresponses_{{loop.index0}}" value="{{rs_data}}" aria-describedby="browse" >
        </div>
        </div>
    </div>
    {% else %}
    <div class="upload-field-wrapper d-flex align-items-end" id="res{{loop.index0}}">
        <div class="upload-wrapper-new" >
        <label for="res_text" class="form-label">Responses Text<span></span></label>
        <div class="d-flex">
            <div class="input-group mb-3">
                <input type="text" class="form-control"  placeholder="Enter Response" id="intentresponses_{{loop.index0 }}" name="intentresponses_{{loop.index0}}" value="{{rs_data}}" aria-describedby="browse" >
            </div>
        </div>
        </div>
            <button onclick=res_rm('{{loop.index0}}') class="minus-btn" ><span class="material-symbols-outlined"> remove</span></button>

    </div>

    {% endif %}
    {% endfor%}
{% elif data == '2'%}
    {% if res_data is defined %}
    {% for rs_data in res_data %}
    {% if loop.index0 == 0%}

    <div class="form-field" id = "res{{loop.index0}}" >
		<label for="intentresponses_payload_button_{{loop.index0}}" class="form-label">Button Intent<span>*</span></label>
		<div class="d-flex">
            <select id="intentresponses_payload_button_{{loop.index0}}" class="form-select form-control"   name="intentresponses_payload_button_{{loop.index0}}">
                <option value="{{rs_data[1]}}" selected> {{rs_data[1]}}</option>
                {% for item in data_button %}
                    {% if item[1] != rs_data[1]%}
                    <option value="{{item[1]}}"> {{item[1]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
		</div>
	</div>
    {% else %}
    <div class="upload-field-wrapper d-flex align-items-end" id="res{{loop.index0}}">
        <div class="upload-wrapper-new" >
            <label for="intentresponses_payload_button_{{loop.index0}}" class="form-label">Button Intent<span>*</span></label>
            <div class="d-flex">
                <select id="intentresponses_payload_button_{{loop.index0}}" class="form-select form-control"  name="intentresponses_payload_button_{{loop.index0}}">
                    <option value="{{rs_data[1]}}" selected> {{rs_data[1]}}</option>
                    {% for item in data_button %}
                        <option value="{{item[1]}}"> {{item[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="minus-btn" onclick=res_rm('{{loop.index0}}')><span class="material-symbols-outlined">remove</span></button>
        <span  class="has-error" id="button_error" style="color:red;margin-top:5px;display:none"> selected option is already available  </span>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}  
	

{% endif %}

