{% extends "layout/base.html" %}
{% block content %}
<style>
	.has-error{
	   border-color: red !important;
	}
</style>
<div class="intent-info w-100">
	<!--begin::Toolbar-->
    <div class="create-intent-main">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">
                <div class="add-singleintent">
                    <h4 class="add-singleintent__title">Update Intent Details</h4>
                    <form onsubmit="return validateForm()" id="kt_modal_new_target_form_single" class="row g-3" action="{{ url_for('intent.update_intent') }}" method="post" enctype=multipart/form-data>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="col-md-6 add-singleintent__left">
                                <div class="form-field">
                                    <label for="intent" class="form-label">Intent<span>*</span></label>
                                    <input id="intent" type="text" class="form-control form-control-solid" placeholder="Enter Intent" name="intent" value="{{data[0]}}" readonly/>
                                    <input id="nlu_id" type="hidden" class="form-control form-control-solid"  name="nlu_id" value="{{data[4]}}" />
                                    <span  class="has-error" id="intent_error" style="color:red;margin-top:5px;display:none"> Please Enter Intent  </span>
                                    <span  class="has-error" id="intent_check_error" style="color:red;margin-top:5px;display:none"> Intent already Added  </span>
                                        
                                </div>
                                <div class="form-field">
                                    <label for="responses_type" class="form-label">Responses Type<span>*</span></label>
                                        {% if data[1] != 'buttons'%}
                                         <input  type="text" class="form-control form-control-solid" placeholder="Enter Response" value="text" id="responses_type" name="responses_type" readonly />          
                                        {% else %}
                                        <input  type="text" class="form-control form-control-solid" placeholder="Enter Response" value="{{data[1]}}" id="responses_type" name="responses_type" readonly/>          
                                        {% endif %}
                                        <input type="hidden" value="{{r_data}}" id="r_data" readonly>
                                        <input type="hidden" value="{{len_res_data}}" id="res_count">
                                </div>
                                {% if data[1] == 'buttons'%}
                                <div class="form-field">

                                   
                                    <label for="res_text_data" class="form-label">Responses Text<span>*</span></label>
                                        
                                    <input type="text" class="form-control form-control-solid" name="res_text" id="res_text_data" placeholder="Enter Response" value="{{r_data[1]}}">
                                  
                                </div>
                                {% endif %}
                                <div id="user_res" style="margin-top:20px;">       

                                </div>
                                {% if data[1] == 'buttons' %}
                                    <div class="add-new-wrapper w-100" onclick="res_add_field_button('2')" id="add-new-wrapper">
                                        <span class="add-new"> + Add New responses</span>
                                    </div>
                    
                                {% endif %}
                            </div>

                        <div class="add-singleintent__right col-md-6">
                            <div class="form-field">
                                <label for="title" class="form-label">Intent Title<span>*</span></label>
                                <input type="text" value="{{data[5]}}" class="form-control"   id="title" placeholder="Enter Intent Title" readonly />
                            </div>
                            <input type="hidden" value="{{len_query_data}}"  id="count" readonly>
                            {% if x_data is defined %}
                                {% for q_data in x_data %}
                                    {% if loop.index0 == 0 %}                                       
                                                <div class="form-field" id="{{loop.index0}}">
                                                    <label for="res_text" class="form-label">Query<span></span></label>
                                                    <div class="d-flex">
                                                        <div class="input-group">
                                                            <input type="text"  value="{{ q_data }}" id="mytext_{{loop.index0}}" name="mytext_{{loop.index0}}" class="form-control" placeholder="Enter Query"  aria-describedby="browse" >
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                    {% else %}

                                    <div class="upload-field-wrapper d-flex align-items-end" id="{{loop.index0}}">      
                                        <div class=" upload-wrapper-new" >
                                            <label for="res_text" class="form-label">Query<span></span></label>
                                            <div class="d-flex">
                                                <div class="input-group">
                                                    <input type="text"  value="{{ q_data }}" id="mytext_{{loop.index0}}" name="mytext_{{loop.index0}}" class="form-control" placeholder="Enter Query"  aria-describedby="browse" >
                                                </div>
                                            </div>
                                        </div>
                                        <button onclick=rm({{loop.index0}}) class="minus-btn" ><span class="material-symbols-outlined"> remove</span></button>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %} 
                            <div id="data"></div>
                            <div class="add-new-wrapper w-100" onclick="add_field()">
                                <span class="add-new">+ Add New Query</span>
                            </div>
                            
                        </div>
                        <div class="col-md-12">
                            <div class="mb-4 area-text">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control description" id="description" name="description" rows="4"
                                    placeholder="Enter Details">{{data[3]}}</textarea>
                            </div>
                            <div class="btn-wrapper">
                                <button type="button" class="btn btn-addintent" style="margin-right:10px;width:auto;padding-left:0px;" onclick='goBack()'>
                                    <i class='fas fa-arrow-left' style='font-size:20px;color:white ;margin:10px'></i>BACK</button>

                                <button type="submit" class="btn btn-addintent">UPDATE INTENT
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 -6.5 38 38" version="1.1">
    
                                        <title>right-arrow</title>
                                        <desc>Created with Sketch.</desc>
                                        <g id="icons" stroke="#fff" stroke-width="1" fill="#fff" fill-rule="evenodd">
                                            <g id="ui-gambling-website-lined-icnos-casinoshunter" transform="translate(-1511.000000, -158.000000)" fill="#fff" fill-rule="nonzero">
                                                <g id="1" transform="translate(1350.000000, 120.000000)">
                                                    <path d="M187.812138,38.5802109 L198.325224,49.0042713 L198.41312,49.0858421 C198.764883,49.4346574 198.96954,49.8946897 199,50.4382227 L198.998248,50.6209428 C198.97273,51.0514917 198.80819,51.4628128 198.48394,51.8313977 L198.36126,51.9580208 L187.812138,62.4197891 C187.031988,63.1934036 185.770571,63.1934036 184.990421,62.4197891 C184.205605,61.6415481 184.205605,60.3762573 184.990358,59.5980789 L192.274264,52.3739093 L162.99947,52.3746291 C161.897068,52.3746291 161,51.4850764 161,50.3835318 C161,49.2819872 161.897068,48.3924345 162.999445,48.3924345 L192.039203,48.3917152 L184.990421,41.4019837 C184.205605,40.6237427 184.205605,39.3584519 184.990421,38.5802109 C185.770571,37.8065964 187.031988,37.8065964 187.812138,38.5802109 Z" id="right-arrow"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>  
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
           </div>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
        // Prevent form submission
        return false;
    }
	function validateForm() {
        var answer1 = $('#intent').val();
        var answer4 = $('#nlu_id').val();
        var answer3 = $('#mytext_0').val();
        var answer2 = $('#intentresponses_0').val();
        var answer5 = $('#res_text_data').val()
        var answer1 = $.trim(answer1);
        var answer2 = $.trim(answer2);
        var answer3 = $.trim(answer3);
        var answer5= $.trim(answer5)
		var check_result = null

        var error_count = 0;
        if (answer1 == "" || answer1 == null) {
        	$('#intent').addClass("has-error");
        	$('#intent_check_error').hide();
            $('#intent_error').show();
            error_count = 1;
        }else {
	        $('#intent').removeClass("has-error");
            $('#intent_error').hide();
            $('#intent_check_error').hide();
        }
        
        if (answer3 == "" || answer3 == null) {
        	$('#mytext_0').addClass("has-error");
            $('#mytext_0_error').show();
            error_count = 1;
        } else {
        	$('#mytext_0').removeClass("has-error");
            $('#mytext_0_error').hide();
        }

        var selectedValues = [];

        document.querySelectorAll('.form-select').forEach(function (select) {
            var selectedOption = select.options[select.selectedIndex];
            selectedValues.push(selectedOption ? selectedOption.value : null);
        });

        // Check if any selected values are the same
        if (hasDuplicates(selectedValues)) {
            error_count = 1; // Prevent form submission
        }

        if (error_count == 1) {
            return false;
        } else {
            return true;
        }
        }



    function hasDuplicates(array) {
        var valuesSoFar = Object.create(null);

        for (var i = 0; i < array.length; ++i) {
            var value = array[i];

            if (value in valuesSoFar) {
                return true;
            }

            valuesSoFar[value] = true;
        }

        return false;
    }

	function add_field() {
		var max_fields = 30;
		var cnt = $("#count").val()
		if (cnt < max_fields) {
			cnt = parseInt(cnt) + 1;
			$('#count').val(cnt);
			$("#data").append('<div class="upload-field-wrapper d-flex align-items-end" id="' + cnt + '"><div class=" upload-wrapper-new"><label for="res_text" class="form-label">Query<span></span></label><div class="d-flex"><div class="input-group mb-3"><input type="text" name="mytext_' + cnt + '" class="form-control" placeholder="Enter Query" name="intentresponses_' + cnt + '" aria-describedby="browse" ></div></div></div><button onclick=rm(' + cnt + ') class="minus-btn" ><span class="material-symbols-outlined"> remove</span></button></div>')
		} else {
			alert('You Reached the limits')
		}
	}
	function rm(id) {
		$("#" + id).html("")
	}


	function res_add_field(id) {
        var res_typ=$("#responses_type").val()
		var max_fields = 30;
        var cnt = $("#res_count").val()
		if (cnt < max_fields) {
            cnt = parseInt(cnt) +1;

			if(res_typ=='text' ){
		        $("#user_res").append('<div class="upload-field-wrapper d-flex align-items-end" id="res' + cnt + '"><div class=" upload-wrapper-new"><label for="res_text" class="form-label">Responses Text<span></span></label><div class="d-flex"><div class="input-group mb-3"><input type="text" class="form-control" id="text" placeholder="Enter Response" name="intentresponses_' + cnt + '" aria-describedby="browse" ></div></div></div><button onclick=res_rm(' + cnt + ') class="minus-btn" ><span class="material-symbols-outlined"> remove</span></button></div></div>')
			}

            $('#res_count').val(cnt);

		} else {
			alert('You Reached the limits')
		}
	}

    

   

	function res_rm(id) {
		$("#res" + id).html("")
	}
	function fetch_box(){
        var res_type=document.getElementById("responses_type").value
        var res_data=$("#r_data").val()
        var csrf_token = $('input[name="csrf_token"]').val();

        if (res_type=='buttons'){
            res_type="2"
        }else{ res_type="1"}

		$.ajax({
			type: "POST",
            headers: { 'X-CSRFToken': csrf_token },
			url: "{{ url_for('intent.update_res') }}",
			
            data: { res_type: res_type,res_data:res_data},
			success: function (result) {
                console.log(result)
				$('#user_res').html(result);
			}
		});
	}
    document.addEventListener('DOMContentLoaded', function() {
        fetch_box()
    });
    function res_add_field_button(){
		var cnt = $("#res_count").val()
        var csrf_token = $('input[name="csrf_token"]').val();
        var cnt = parseInt(cnt) + 1;
		$.ajax({
            headers: { 'X-CSRFToken': csrf_token },
			type: "POST",
			data: { cnt: cnt},
			url: "{{ url_for('response.button_view') }}",
			success: function (result) {  
				$('#user_res').append(result);
			}
		});
		$("#res_count").val(cnt)
	}
</script>
{% endblock content %}
