<div class="modal fade" id="kt_modal_view_users" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog mw-650px">
        <div class="modal-content">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                   cancel <i class="fa fa-arrow-right justify-content-center"></i>
                </div>
            </div>
            <div class="modal-body scroll-y mx-5 mx-xl-18 pt-0 pb-15">
                <div class="text-center mb-13">
                    <h1 class="mb-3">{{ model_name }}</h1>
                    <div class="text-muted fw-bold fs-5">{{model_status}}
                    </div>
                </div>
                <div class="mb-15">
                    {% for i in data %}
                    <div class="mh-375px scroll-y me-n7 pe-7">
                        <div class="d-flex flex-stack py-5 border-bottom border-gray-300 border-bottom-dashed">
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-35px symbol-circle">
                                </div>
                                <div class="ms-6">
                                    {{ i }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
