<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title> {{session.status}} </title>
    
	<link href="static/assets/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="static/assets/ajax/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/assets/ajax/libs/jquery/jquery-confirm.min.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <script src="static/assets/ajax/libs/jquery/jquery.min.js"></script>
    <script src="static/assets/bootstrap-toastr/toastr.js"></script>
    <script src="static/assets/js/charts.js"></script>
    <link rel="stylesheet" href="static/assets/fonts/material_style.css" rel="stylesheet">
	<link href="static/assets/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="static/assets/fonts/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="container-fluid p-0">
        <div class="d-flex flex-nowrap content-wrapper">
            <div class="sidenav" id="sidenav">
                <div class="logo-wrapper d-flex justify-content-between align-items-center">
                    <a href="#" class="logo d-flex flex-nowrap align-items-center" id="logo">
                        <img src="static/assets/img/logo.svg" alt="login" class="img-fluid"> </span>
                    
                    </a>
                    <div class="toggle_btn open" id="toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div  class="menu-icon close-icon" id="close-menu" onclick="closeMenu()">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </div>
                </div>
                <div class="menu-wrapper">
                    <ul class="navbar-nav">
                        {% if session.role != "4" %}
                        <li class="nav-item {% if session.status == 'dashboard' %} active {% endif %}">
                            <a {% if session.role =="2" %} href="{{ url_for('admin.dashboard', _external=True, _scheme= config['SSL_SECURITY']) }}" {% elif session.role =="3" %} href="{{ url_for('admin.approver_dashboard', _external=True, _scheme= config['SSL_SECURITY']) }}" {% elif session.role =="1" %} href="{{ url_for('admin.author_dashboard', _external=True, _scheme= config['SSL_SECURITY']) }}" {% else %} href="{{ url_for('dashboard', _external=True, _scheme= config['SSL_SECURITY']) }}" {% endif %} class="nav-link">
                                <img src="static/assets/img/icons/dashboard.svg" alt="dashboard">
                                <span class="text-capitalize"> Dashboard </span>
                            </a>
                        </li>
                        <li class="nav-item {% if session.status == 'add' %} active {% endif %}">
                            <a href="{{ url_for('intent.bulk_intent_page', _external=True, _scheme= config['SSL_SECURITY']) }}" class="nav-link">
                                <img src="static/assets/img/icons/create_intent.svg" alt="create intent">
                                <span class="text-capitalize"> Upload Documents </span>
                            </a>
                        </li>
                        
                        <li class="nav-item {% if session.status == 'llm_file' %} active {% endif %}">
                            <a href="{{ url_for('intent.display_llm_files', _external=True, _scheme= config['SSL_SECURITY']) }}" class="nav-link">
                                <img src="static/assets/img/icons/intent_list.svg" alt="intent list">
                                <span class="text-capitalize"> LLM RAG File List </span>
                            </a>
                        </li>
                        <li class="nav-item {% if session.status == 'embedded_file_list' %} active {% endif %}">
                            <a href="{{ url_for('intent.embedded_file_list', _external=True, _scheme= config['SSL_SECURITY']) }}" class="nav-link">
                                <img src="static/assets/img/icons/trained_models.svg" alt="intent list">
                                <span class="text-capitalize"> Embedded File List </span>
                            </a>
                        </li>
                      
                        <li class="nav-item {% if session.status == 'chat_list' %} active {% endif %}">
                            <a href="{{ url_for('intent.chat_list', _external=True, _scheme= config['SSL_SECURITY']) }}" class="nav-link">
                                <img src="static/assets/img/icons/chat_audit.svg" alt="chat_audit">
                                <span class="text-capitalize"> chat audit </span>
                            </a>
                        </li>
                        <li class="nav-item {% if session.status == 'user_feedback_list' %} active {% endif %}">
                            <a href="{{ url_for('intent.user_feedback_list', _external=True, _scheme= config['SSL_SECURITY']) }}" class="nav-link">
                                <img src="static/assets/img/icons/untrained_query.svg" alt="chat_audit">
                                <span class="text-capitalize"> User Feedback </span>
                            </a>
                        </li>
                        
                        <li class="nav-item {% if session.status == 'cache_questions' %} active {% endif %}">
                            <a href="{{ url_for('intent.cache_questions', _external=True, _scheme= config['SSL_SECURITY']) }}" class="nav-link">
                                <img src="static/assets/img/icons/custom_action.svg" alt="chat_audit">
                                <span class="text-capitalize"> Cached Questions </span>
                            </a>
                        </li>
                        {% endif %}
                        
                        <li class="nav-item {% if session.status == 'testing' %} active {% endif %}">
                            <a href="{{ url_for('testing', _external=True, _scheme= config['SSL_SECURITY']) }}" class="nav-link" target='_blank'>
                                <img src="static/assets/img/icons/testing_environment.svg" alt="testing_environment">
                                <span class="text-capitalize"> testing environment </span>
                            </a>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="main-content" id="content">
                <header class="dashboard-header w-100">
                    <div class="d-flex justify-content-between align-items-baseline">
                        <div class="dashboard__heading">
                            <div  class="menu-icon open-icon" id="open-menu" onclick="openMenu()">
                                <span class="material-symbols-outlined">
                                    menu
                                </span>
                            </div>
                            <h1 class="text-capitalize mb-0"> Hi! <span>{{session.name}}</span>, </h1>
                            <p> Have a great day ahead. </p>
                        </div>

                        <div class="user-info d-flex flex-nowrap align-items-center">
                           
                            <div class="user-img" id="imagebox">
                                <img src="static/assets/img/blank.png" alt="user image" class="userimage">
                            </div>
                            <div class=" logout-modal" id="logoutmodal">
                                <div class="user-info">
                                    <div class="user-img">
                                        <img src="static/assets/img/blank.png" alt="user image">
                                    </div>
                                    <h3 class="user-name">{{session.username}}</h3>
                                </div>
                                <button class="logout-btn" onclick="window.location.href='{{ url_for( 'auth.sign_out', _external=True, _scheme= config['SSL_SECURITY']) }}';">logout</button>
                            </div>
                            
                        </div>
                    </div>
                </header>
                {% block content %} {% endblock content %}
            </div>
        </div>
        <!-- Add this inside the body tag of base.html -->
        
        <div class="blur-bg" id="blur-bg"></div>
    </div>

    
    <div class="overlay" id="overlay"></div>
    <div class="loader" id="spinner"></div>
    <script src="static/assets/ajax/libs/jquery/jquery-confirm.min.js"></script>
    <script src="static/assets/bootstrap-toastr/toastr.min.js"></script>
    <script src="static/assets/bootstrap-toastr/ui-toastr.min.js"></script>
    <script src="static/assets/ajax/libs/js/jquery.dataTables.min.js"></script>
    <script src="static/assets/ajax/libs/js/purify.min.js"></script>
    <script src="static/assets/js/logout_popup.js"></script>
    <script src="static/assets/js/toggle.js"></script>
    <script>
        $(document).ready(function () {
            // Global AJAX start event - Triggered when ANY AJAX request starts
            $(document).ajaxStart(function () {
                $("#overlay").show();   // Show the overlay
                $("#spinner").show();   // Show the spinner
                $("container-fluid ").addClass("blur-effect"); // Apply blur effect to entire page
            });
    
            // Global AJAX stop event - Triggered when ALL AJAX requests finish
            $(document).ajaxStop(function () {
                $("#overlay").hide();   // Hide the overlay
                $("#spinner").hide();   // Hide the spinner
                $("container-fluid ").removeClass("blur-effect"); // Remove blur effect
            });
        });
    </script>
    <script src="static/assets/ajax/libs/js/bootstrap.bundle.min.js"></script>
</body>
</html>